body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }


.buy-now{
    margin: 10px;
}
input[type="submit"]{
    width: 100%;
    background-color: #2e7d32;
}
input[type="submit"]:hover{
    background-color: #2e7d32 ;
}
.modal-close{
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
    padding: 0;
}